header {
    width: 100%;
    height: 52px;
}
main {
    min-height: calc(100vh - 75px);
}
footer {
    height: 43px;
}


.w3-myFont {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
.img-container {
    width: 300px;
}
.form-container {
    box-shadow: 1px 1px 9px #498ca7;
    border-radius: 4px;
    /*margin: 5px auto;*/
}

li {
    margin: 0 auto;
    padding: 5px;
}
